.list {
    margin: 15px auto;
    list-style-type: none;
    padding: 0;
    background: #eee;
    width: 908px;
    border: solid 1px #fff;
    border-bottom: none;
    /* border-right: solid 1px #fff; */
}
li {
    border-bottom: solid 1px #fff;
    
    span {
        padding: 10px 0;
        display: inline-block;
        text-align: center;
        height: 100%;
        width: 100px;
        /* border-bottom: solid 1px #fff; */
        border-left: solid 1px #fff;

        input {
            width: 90%;
        }
    }
}

li > span:nth-of-type(1) {
    border-left: none;
}
li > span:nth-of-type(2) {
    width: 100px;
}
li > span:nth-of-type(3) {
    width: 100px;
}
li > span:nth-of-type(4) {
    width: 400px;
}
li > span:nth-of-type(5) {
    width: 200px;
}
